<p>
    Copy goes here
</p>

<p>
    Check out <a href="https://www.openhumans.org/activity/whopsi">this project's activity page</a>
    to see how notebooks, projects, and members are using & sharing this data.
    (Once connected, you can also find your data on this page!)
</p>

<p>
    This site is managed by
    <a href="https://www.openhumans.org">Open Humans</a> and follows the same
    <a href="https://www.openhumans.org/terms">terms of use</a>.
    Data stored in Open Humans is private by default: it's your personal archive
    and always available to you, and you choose when to share with others.
</p>
